
/*
  css样式，也就是页面显示的时候分为首部，左部分，中间部分，右边部分。
  具体的语法定义看相关书籍介绍。使用的r候是直接使用最前面的标签。具体格式可以看代码。
  引入该样式的语句是：
  <head>  
  <link rel="stylesheet" type="text/css" href="css/tlmr.css" />
</head>
*/
body {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
        font-family: verdana, arial, helvetica, sans-serif,宋体;
	color: #060;
	background-color: #CCC;
	}
a {
	text-decoration: none;
	font-weight: bold;
	color:  #666;
	outline: none;
	}
a:visited {
	color:  #666;
	}
a:active {
	color:  #666;
	}
a:hover {
	color: #666;
	text-decoration: underline;
	}
.ahem {
	display: none;
	}
strong, b {
	font-weight: bold;
	}
p {
	font-size: 12px;
	line-height: 22px;
	margin-top: 20px;
	margin-bottom: 10px; 
	}

/* weird ie5win bug: all line-height to font-size ratios must agree or box gets pushed around. UPDATE: this has turned out to be very rare. my current recommendation is IGNORE this warning. at the moment i'm leaving it in only in case the issue turns up again. possibly the original bug in march 2001 was caused by an unusual combination of factors, although this solved it at the time.*/

h1 {
	font-size: 24px;
	line-height: 44px;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0;
	}
h2 {
	font-size: 18px;
	line-height: 40px;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0;
	}
h3 {
	font-size: 16px;
	line-height: 22px;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0;
	}
h4 {
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0;
	}
h5 {
	font-size: 12px;
	line-height: 22px;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0;
	}
h6 {
	font-size: 10px;
	line-height: 18px;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0;
	}
img {
	border: 0;
	}
.nowrap {
	white-space: nowrap;
	font-size: 10px;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0;
/* must be combined with nobr in html for ie5win */
	}
.tiny {
	font-size: 9px;
	line-height: 16px;
	margin-top: 15px;
	margin-bottom: 5px; 
	}	
#top {
	margin: 20px 20px 0px 20px;
	padding: 10px;
	border: 5px solid #666;
	background: #FFF;
	height: 100px; /* ie5win fudge begins */
	voice-family: "\"}\"";
	voice-family:inherit;
	height: 70px;
	}
html>body #top {
	height: 70px; /* ie5win fudge ends */
	}
#left {
	position: absolute;
	top: 130px;
	left: 0px;
	margin: 20px;
	padding: 10px;
	border: 5px solid #666;
	background: #FFF;
	width: 150px; /* ie5win fudge begins */
	voice-family: "\"}\"";
	voice-family:inherit;
	width: 120px;
	}
html>body #left {
	width: 120px; /* ie5win fudge ends */
	}
#middle {
	margin: 20px 210px 20px 190px;
	padding: 10px;
	border: 5px solid #666;
	background: #FFF;
	}
#right {
	position: absolute;
	top: 90px;
	right: 0px; /* Opera5.02 will show a space at right when there is no scroll bar */
	margin: 20px;
	padding: 10px;
	border: 5px solid #666;
	background: #FFF;
	width: 150px; /* ie5win fudge begins */
	voice-family: "\"}\"";
	voice-family:inherit;
	width: 120px;
	}
html>body #right {
	width: 120px; /* ie5win fudge ends */
	}
pre {
	font-size: 14px;
	line-height: 22px;
	margin-top: 20px;
	margin-bottom: 10px; 
        font-family: verdana, arial, helvetica, sans-serif,宋体;
	}

